html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  background-color: #333;
  color: #fff;
  display: inline-block;
  padding: .4em .75em .3em;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.125rem;
  border: solid 3px;
  border-color: #333;
}

.btn-small {
  display: inline-block;
  padding: .4em .75em .3em;
  border-radius: 8px;
  text-decoration: none;
  font-size: .875rem;
  border: solid 3px #666;
  border-color: #333;
}

.btn-big {
  display: inline-block;
  padding: .4em .75em .3em;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.5rem;
  border: solid 3px #666;
  border-color: #333;
}

.btn-primary {
  background-color: #333;
  color: #fff;
}
.btn-subtle {
  background-color: #ccc;
  color: #fff;
  border-color: #ccc;
}

.btn-ghost {
  background-color: #fff;
  color: #000;
  border-color: #333;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
  border-color: #f33;
}

.btn-small + .btn-warning {
  background-color: #f33;
  color: #fff;
  border-color: #f33;
}

.btn-primary:hover {
  background-color: #000;
  border: solid 3px;
  border-color: #000;
}

.btn-subtle:hover {
  background-color: #666;
  border: solid 3px;
  border-color: #666;
}

.btn-ghost:hover {
  background-color: #666;
  border: solid 3px;
  border-color: #666;
  color: #fff;
}

.btn-warning:hover {
  background-color: #933;
  border: solid 3px;
  border-color: #933;
}
